
body{
margin:0;
padding:0;    
}


hr{
    width: 30%;
}

#title{

    background-color:rgb(0,153,255);
    color: #fff;
}
.navbar{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0%;
    padding-right: 0%;
    height: 100px;
    font-size: 21px;

    
}

/* media condition */

@media screen and (max-width:800px){

    #title{
        text-align: center;
        height: 400px;

    }

    #welcome{

        height: 300px;
    }

    .welcome-section{
        height: 500px;
        
       
    }

    .welcome-section h3 p{

        width: 90%;
    }

    /* Course Section*/

    .box{

        margin-left: auto;
        margin-right: auto;
    }

    
.termspara{

 

    margin-top: 50px;

    color: gray;
}


}

/* Nav Bar*/

.navbar-nav{

    margin-left: 15%;
    
}


.upper_conatiner{

    background-color:#fff;
}

.image-centre{

    margin-left: 38%;
    margin-top: 10%;
   
}


/* welcome-section */

.welcome-section{

    height: 200px;
    text-align: center;
    
}

/* feature section*/

#features {

    margin:auto;
    background-color: white;
    position: relative;
    
}

.feature-box{

    text-align: center;

}

.icon{

    color: #1b6ca8;

}
.icon:hover{

    color: #32e0c4;
}

/* course section*/
    

.btn-course{

    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 41%;


}
 
@media screen and(max-width:800px){

    .btn-course{

        margin-left: 28%;
    }
}

/*Testimonial*/

#Testimonial{

    background-color: pink;
}

.Testimonial{

    margin-left: 50px;
    margin-right: 00px;
    color: gray;
    
}

.Testimonial h3{

    padding: 2%;
}

.Testimonial-icon{

    padding: 5%;
}
.Testimonial p{

  
    height: 100px;
    text-align: center;
}

.Testimonial-head{

    color:#359AE2;
    margin-top: 40px;
    text-align: center;
}

.termNcondition{

    color:#359AE2;
    margin-top: 40px;
    text-align: center; 
    text-align:justify;
    padding:25px;
}

.termspara{

  
    margin-top: 50px;

    color: gray;
    margin-bottom: 100px;
}

@media screen and(max-width:800px){

    .termspara{

        height: 800px;
    }
}

/*need-section*/

#Need{

    padding:7% 15%;
    background-color: white;
    position: relative;
}


.Need-head{

    text-align: center;
    color:#00ffd5 ;
}

.Need-head:hover{

    color:#d2ff08;
}

.feature-box{

    text-align: center;

}

.icon{

    color: #0894ff;
    padding: 4.5%;
}
.icon:hover{

    color: #ffd900;
}
.need-heading{

    color: grey;
}
.need-heading:hover{

    color: black;
}

/*footer*/

#footer{
    padding:20px 0;
    text-align:center;
    background-color: rgb(212, 212, 212);
color:rgb(126, 126, 126)
}
#footer i{font-size: 30px;}
#footer a {padding-right:15px} 
